@font-face
{
	font-family: aspace;
	src: url('../fonts/aspace_demo.otf');
}

body{
	margin: 0;
	padding: 0;

}
*{
		margin: 0;
	padding: 0;

}
li{
	list-style: none;
}
h1,h2,h3,h4{

	padding:5px 0;
}
.header{
		
		width: 100%;
		height:120px;
		background: #fafafa;
		position:fixed;
		z-index:996;
		margin: 0;
		padding: 0;
	
}
.hedmain{
		width: 1000px;
		height: 110px;
		margin: 0 auto;
		padding: 0;


}
.reg{
		width: 150px;
		height: 55px;
		float: right;
		font-size: 12px;
		
}
.regmode{
		list-style-type: none;
		margin: 32px;
		padding: 4px;
		background-color:rgba(98, 207, 169, 0.93); 
	
		
}
.regmode:hover{
		background-color:orange; 
		transition:background-color 0.5s ease;
		font-size: 12px;
}
.navg{
		width: 500px;
		height: 60px;
		font-family: aspace;
		margin-top:61px;
		float: right; 
}
.navg ul{
		margin: auto;
		position: relative;

}
.navg ul li{
		display: inline-block;
		padding: 10px;
		list-style-type: none;
		float: left;
		margin: 5px;
		transition:background-color 0.3s ease;
}
.navg ul li:hover{
		padding-top: 2px;
		border: 3px;
		transition:background-color 0.5s ease;
		color: green;
}
.logo{
		width: 200px;
		height: 100px;
	
		margin-top:10px; 
}
.content{
		width: 100%;
		height: 450px;	


}
/*image*/
.contentview{
		width:100;
		

}
.img{
		margin-top:120px;

	width: 100%;
	height: 400px;
	float: left;
	background: url('../image/143.png') repeat-x left top transparent;
}
.regbt{
	width:224px;
	height: 45px;
	padding:14px;
	margin-top:208px;
	display: inline-block;
	font-size: 18px;
	margin-left: 43%;
	background-color:#0B817D;
	transition:background-color 0.3s ease;
}
.regbt:hover{
	cursor: pointer;
	background-color:#999;

}
.regbt h2{
	margin-left: 19px;
}

.clickbox{
		text-align:center;
		position: absolute;
		width:302px;
		height:38px;
		
		left:40%;
		top:60%;
		z-index:666;
		background-color:#15A581;
		font-family:aspace;
		font-size:12px;
		transition:background-color 0.3s ease;

}
.clickbox2{
		text-align:center;
		position: absolute;
		width:302px;
		height:38px;
		
		left:40%;
		top:80%;
		z-index:666;
		background-color:#15A581;
		font-family:aspace;
		font-size:12px;
		transition:background-color 0.3s ease;
}
.clickbox:hover{
		color:#fff;
		background-color: red;


}
.clickbox2:hover{
		color:#fff;
		background-color: red;


}
.popup{
		width: 100%;
		height: 100%;
		background-color: transparent;
		position: absolute;
		z-index: 1000;
		margin:0px;
		padding:0px;
		left: 0;
		top:0px;
		display: none;
		
}
.regform{
		width: 400px;
		height: 300px;
		z-index: 1050;
		border: 1px solid #333333;
		margin:56px auto;
		position: fixed;
		background: #fdfdfd;
		left:35%;
		top:20%;
		opacity: .9;
		box-shadow: 10px 10px 26px #333;

}

.regform ul 
{
		margin: 3px;
		padding: 1px 1px 1px 40px;
		float: left;
		list-style:none;


}
.regform ul li label{
	float: left;
	line-height: 2.5;
	width: 60px;


}
.regform input[type="text"]{
		float: left;
		margin: 5px 0px ;
		height: 28px;
		width: 200px;

}
.regform ul li{
	padding: 5px;
	display: inline-block;

}
.button{
		margin-left: 133px;
		padding: 8px 15px;
		background: green;
		border:1px solid green;
		cursor: pointer;

}
.closebt{
	float: right;
	padding: 3px;
	font-size: 16px;
				border:1px solid transparent;
				cursor: pointer;

}
.closebt:hover{
	color: red;
			border:1px solid red;

}
h2{
	margin: 10px 0 0 0 ;

}

.i1{
		width:593px;
		height:350px;
		border:1px solid red;
}
/*test page css*/
.main{
	width: 1000px;
	
	margin: 0 auto;
	
    margin: -13px auto 0;
}
.main ul li{
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #eddddd;
	padding: 143px 5px;
}
.main ul li h3{
	color: #333;

}
.main ul li table{
	width: 90%;
	
}
.main ul li table label{
	line-height: 1;
	padding: 3px;
	margin: 2px;
	display: block;
	float: left;

}
input[type="radio"]{
	float: left;
	margin: 8px;
}
/*end tet page
		background-color:#0B817D;

*/
.footer{
		width: 100%;
		height: 250px;
	
		background-color:#999;


}
.addres{
		width: 50%;
		height: 250px;
}

.add ul li{
		list-style: none;
		padding: 2px;
		color: #fff;


}
.add ul li h2{
	font-family: aspace;
	color: black;

}
.add{

	width: 450px;
	height: 224px;
	margin: 0 auto;
	margin-top: 1%	;

}
.widgettitle{

	width: 20%;
	height: 172px;
	background-color: #FFF;
	margin-top: -230px;
	float: right;
}
.social{

	width: 40%;
	height: 30%;
		border: 1px solid black;
		background-color: #fff;
		float: left;

}

/* psybo reslt*/
.view{

	width: 1000px;
	height: 600px;
	border: 1px solid red;
	margin: 0 auto;
	}
.mark{
	width: 200px;
	height: 100px;
	border: 1px solid red;
	margin: 0 auto;
	margin-top: 285px;
	}
.view ul li{

		font-size: 25px;
		color: green;
		padding: 20px;
}
.cir{
	width: 60px;
	height: 60px;
	border-radius: 50px;
	display: inline-block;
	line-height: 50px;
	padding: 35px;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	color: #fff;

}
.green{
		background: green;
			border: 6px solid yellow;


}
.green:hover{

	background-color: gray;
	padding: 38px;
}
.red{
			background: red;
				border: 6px solid gray;


}
.orange{
				background: orange;
					border: 6px solid blue;


}

/*admin PANEL*/
.vtab{
	border:1px solid #ddd;
	background: #fafafa;
}
.vtab th{
		border-bottom:1px solid #ddd;
		padding: 4px;
}


.vtab td{
		border-bottom:1px dashed #ddd;
		padding: 4px;

}
.vtab tr:nth-child(even){
background: #fcfcfc;
		padding: 4px;

}
.answer{
	color: red;
	background: #555;
}